@font-face{font-family:'nastliq';src:url('nafees-nastaliq-regu-fc.eot');src:url('nafees-nastaliq-regu-fc.eot?#iefix') format('embedded-opentype'),url('nafees-nastaliq-regu-fc.woff') format('woff'),url('nafees-nastaliq-regu-fc.ttf') format('truetype'),url('nafees-nastaliq-regu-fc.svg#NafeesRegular') format('svg');font-display: swap;  font-weight: normal;
    font-style: normal;
}
