@font-face {
	font-family: 'font2';
	src: url('Mehr Nastaliq Web.eot');
	src: local('☺'), url('Mehr Nastaliq Web.woff') format('woff'), url('Mehr Nastaliq Web.ttf') format('truetype'), url('Mehr Nastaliq Web.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
