@font-face {
    font-family: 'font4';
    src: url('../mehr_nastaliq.woff2') format('woff2'),
         url('../mehr_nastaliq.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
